input[type="file"] {
    display: flex;
}


.custom-file-upload {
    background-color: #993aff;
    border: 1px solid #000000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius:6px;

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.it .btn-orange
{
    background-color: blue;
    border-color: #777!important;
    color: #777;
    text-align: left;
    width:100%;
}
.it input.form-control
{

    border:none;
    margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.it .form-control:focus
{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.banderoleCPNV{
    background-color: transparent;
    height: 120px;
    width: auto;
    margin: 0.5%;
}

.littleImage{
    border-radius:6px;
    width: 250px;
    height: 150px;
}

.headerBackground{
    background-color: lightgray;

    margin-right: auto;
    margin-bottom: 10%;

    border-radius:6px;

}
.bodyBackground{
    background-color: #af6dff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-radius:6px;
    width: 100%;

}

.bodyBackground1New{
    position: center;
    background-color: #232323;

    border-radius:6px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;




}



div.bodyBackground1{
    position: page;
    background-color: #000000;


    border-radius:6px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
    height: 370px;
}


FORM.ol {counter-reset: repas;} /* on initialise et nomme un compteur */

.listeDetails2 {
    list-style-type: none;
    counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
}
.listeDetails {
    padding :4px;
    margin-left: 5%;
    vertical-align: top;
    background: #222221;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    color: white;
}



.header{
    background-color: rgba(43, 43, 43, 0.85);
    border-radius:6px;
    margin-left: auto;
    margin-right: auto;
}

#photoPersonne{
    position: center;
    clear:right;
    border:1px solid #ee1eb5;
    margin-top: 3%;
    border-radius:6px;
    height: auto;
    width: 350px;
    margin-right: 5%;
    margin-bottom: 10%;
}


.liste{
    position: relative;
    margin-bottom: 10px;
    float: right;
}
.ButtonMenu {
    box-shadow:inset 0px 0px 0px 0px #77b2ff;
    background:linear-gradient(to bottom, #6297ff 5%, #4355ee 100%);
    background-color: #77b2ff;
    border-radius:6px;
    border:1px solid #000000;
    margin-left: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    color:black;
    font-size: 15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #23005b;
}
.ButtonMenuSecond {
    box-shadow:inset 0px 0px 0px 0px #993aff;
    background:linear-gradient(to bottom, #a0ffa8 5%, #1bff1c 100%);
    background-color: #993aff;
    border-radius:6px;
    border:1px solid #000000;
    margin-left: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    color:black;
    font-size: 15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #23005b;
}

.ButtonMenu2 {
    box-shadow:inset 0px 1px 0px 0px #7dabdb;
    background:linear-gradient(to bottom, #77b2ff 5%, #7dabdb 100%);
    background-color: #7dabdb;
    border-radius:6px;
    border:1px solid #23005b;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    margin-left: 1%;
    font-size:15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6297ff;
}
.ButtonMenu:hover {
    background:linear-gradient(to bottom, #23005b 5%, #781bee 100%);
    background-color: #a059ff;
}
.ButtonMenu:active {
    position:relative;
    top:1px;
}
.ButtonMenuSecond:hover {
    background:linear-gradient(to bottom, #23005b 5%, #781bee 100%);
    background-color: #a059ff;
}
.ButtonMenuSecond:active {
    position:relative;
    top:1px;
}
.ButtonMenu2:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color:#ef027d;
}
.ButtonMenu2:active {
    position:relative;
    top:1px;
}


.cffButton2 {
    box-shadow:inset 0px 0px 0px 0px black;
    background:linear-gradient(to bottom,darkred 100%);
    background-color: #00ff25;
    border-radius:6px;
    border:3px solid black;

    cursor:pointer;
    color:white;
    font-family:Arial;

    font-size:10px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px black;
}

.buton{

}
.cffButton {
    box-shadow:inset 0px 0px 0px 0px #f29c93;
    background:linear-gradient(to bottom, #1bff1c 5%, #1bff1c 100%);
    background-color: #1bff1c;
    border-radius:6px;
    border:1px solid #000000;
    display: inline-block;
    alignment: right;
    margin-left: 45%;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #b23e35;
}

.cffButton:hover {
    background:linear-gradient(to bottom, #ce00c2 5%, #ce00c2 100%);
    background-color: #ce00c2;
}

.cffButton:active {
    position:relative;
    top:1px;
}


.title{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.title1 {
    background-color: #686867;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}

.titlelv1{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-left: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.tableDetail{
    width: 100%;
    margin-left: 5%;
    position: sticky;
}
.footer {
    position: fixed;
    left: 5px;
    bottom: 0;
    width: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    margin-left: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
}

.search-text{
    border-radius: 6px;
    background-color:#7dabdb;
    padding-top:11px;
    margin-top: 5px;
    padding-bottom:5px;
}

.search-text .input-search{
    height:20px;
    width:200px;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background-color: #7dabdb;
    border:2px solid #FFF;
    color:#FFF;
    margin-top: 5px;
    padding: 11px 15px;
}

.search-text  .btn-search:hover{
    background-color:#FFF;

    color:#7dabdb;
}

.copyright{
    border-radius: 6px;
    background-color:#f0f0f0;
    margin-bottom: 5px;
    font-size: 12px;
}

.copyright p{
    margin:5px ;
}

footer{

    margin-inside :2px;
    background-color: #222222;
    padding: 1px 5px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

footer .menu li a{
    color:#b1aca1;
    padding:5px;
    text-decoration:none;
}
<!--
footer .menu li a:hover{
    display: flex;
    position: relative;
    margin-left: 10px;

    color:#7dabdb;
}

.fa.fa-facebook ,
.fa.fa-dropbox,
.fa.fa-flickr ,
.fa.fa-github ,
.fa.fa-linkedin ,
.fa,fa-tumblr ,
.fa.fa-google-plus ,
.fa.fa-tumblr {
    color:#b1aca1;
    font-size:20px;
    padding:5px;
}

.fa.fa-facebook:hover,
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa,fa-tumblr:hover,
.fa.fa-google-plus:hover,
.fa.fa-tumblr:hover {
    color:#6794c2;
}
.footerList2 li {
    margin-left: 500px;
}

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px rgba(212, 212, 255, 0.1);
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(212, 212, 255, 0.035);
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px rgba(212, 212, 255, 0.1);
}

table tfoot {
    border-top: solid 2px rgba(212, 212, 255, 0.1);
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px rgba(212, 212, 255, 0.1);
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

div.container {
    display: grid;
    grid-template-columns: 220px 20px auto;
    grid-template-rows: auto;
}


div.left {
    margin-left: 7%;
    width: 25%;
    float: left;

}
div.center {
    margin-left: 5%;
    width: 25%;
    float: left;

}
div.right {
    margin-left: 5%;
    float: left;

    width: 25%;

}

div.clear {
    clear: both;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width : 45% /* largeur obligatoire pour être centré */
}